# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
PetAdoptionSystem-Backend/build/

.idea/
*~

.vscode/
# Ignore bin files
bin/
/**/.settings
.setings/
.DS_Store